body{
	margin:0px;
	padding:0px;
	font-family: Helvetica Neue;
}

/*titulo*/




.container{
	margin:-20px auto;
	width:800px;
	height:230px;
	background-color:white;
}

div.col-md-3{
	width: 200px;
	height: 230px;
	float:left;
	-webkit-transition: height .4s;
}

div#uno{
	background-color: rgb(233,147,26);
}

div#dos{
	background-color: #EB4540;
}



div#cuatro{
	background-color:#7112FF;
}

div#cinco{
	background-color: #5AB8EB;
}


.icon{
	display: block;
	margin:30px auto;
	background-color: rgba(255,255,255,.15);
	width:50px;
	padding:20px;
	-webkit-border-radius: 40%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}

p.texto{
	font-size: 1.2em;
	color:black;
text-align: center;
	padding-top:10px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
	font-family: 'PT Sans', sans-serif;

}

div.col-md-3:hover{
	height:290px;
}

div.col-md-3:hover p.texto{
	padding-top: 30px;
	opacity: 1;
}

div.col-md-3:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.menu2{
position: absolute;
height:7.6%;
width: 60%;
border: 1px solid red;
top:50%;
margin-left: 20%;

}
.dropdown{
	padding-left:1%;
}
