body{
	margin:0px;
	padding:0px;
	font-family: Helvetica Neue;
}

/*titulo*/




.container{
	margin:-20px auto;
	width:800px;
	height:230px;
	background-color:white;
}

div.col-md-3{
	width: 200px;
	height: 230px;
	float:left;
	-webkit-transition: height .4s;
}

div#uno{
	background-color: rgb(233,147,26);
}

div#dos{
	background-color: #EB4540;
}



div#cuatro{
	background-color:#7112FF;
}

div#cinco{
	background-color: #5AB8EB;
}


.icon{
	display: block;
	margin:30px auto;
	background-color: rgba(255,255,255,.15);
	width:50px;
	padding:20px;
	-webkit-border-radius: 40%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}

p.texto{
	font-size: 1.2em;
	color:black;
text-align: center;
	padding-top:10px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
	font-family: 'PT Sans', sans-serif;

}

div.col-md-3:hover{
	height:290px;
}

div.col-md-3:hover p.texto{
	padding-top: 30px;
	opacity: 1;
}

div.col-md-3:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}
